#writings{
    margin-top: -90vh;
    margin-bottom: 90vh;
    margin-left: 2vw;
}
#summary{
    margin-top: -90vh;
    margin-bottom: 70vh;
    margin-left: 2vw;
}
#button{
        margin-top: -70vh;
    margin-bottom: 70vh;
    margin-left: 2vw;
}